@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500&family=Noto+Serif+Display&family=Poppins:wght@100;400&display=swap');

:root {
    --light: #eaecee;
    --border: 1px solid #dce1e4;
    --color-text: #3c3e41;
    --box-shadow:
        5px 5px 15px #c1c8d3,
        -5px -5px 15px #ffffff;
    --gradient-bg: linear-gradient(-45deg, #00B4DB, #0083B0);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: 'Montserrat';
    background-color: #ecf0f1;
}

a {
    color: var(--color-text);
    text-decoration: none;
}

#header input,
#header .nav,
#header ul label {
    display: none;
}

#header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #dce1e4;
    display: grid;
    grid-template-columns: 30% 70%;
    background-color: var(--light);
    z-index: 2;
}

#header .logo img {
    height: 50px;
    margin: 0 0 0 20px;
    animation: slideLeft 1s ease forwards;
    opacity: 0;
}
@keyframes slideLeft {
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}


#header ul {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: end;
    align-items: center;
}

#header ul li a{
    font-weight: bold;
    margin: 0 20px;
    position: relative;
    display: inline-block;
    animation: slideTop 1s ease forwards;
    opacity: 0;
}
@keyframes slideTop {
    0%{
        opacity: 0;
        transform: translateY(100px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
#header ul li a:hover {
    color: #00B4DB;
}

#header ul li a::after {
    content: '';
    position: absolute;
    width: 0;
    left: 0;
    height: 2px;
    background: var(--gradient-bg);
    top: 23px;
    transition: 0.5s;
}

#header ul li a:hover::after {
    width: 100%;
}

#container {
    max-width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 60% 40%;
    border-bottom: var(--border);
    padding-bottom: 90px;
    padding-top: 120px;
}

#container .content {
    padding: 200px 20px 0 20px;
    text-align: center;
}

#container .content p {
    padding-bottom: 15px;
    font-size: 30px;
    animation: slideBottom 1s ease forwards;
    animation-delay: .3s;
    opacity: 0;
}
@keyframes slideBottom {
    0%{
        opacity: 0;
        transform: translateY(-100px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

#container .content h1 {
    font-size: 40px;
    line-height: 70px;
    animation: slideTopp 1s ease forwards;
    animation-delay: .8s;
    opacity: 0;
}

@keyframes slideTopp {
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}

#container .content h1 span{
    display: inline-block;
    background-image: var(--gradient-bg);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;   
}

#container .buttonContact{
    position: relative;
    width: 150px;
    height: 50px;
    border: 2px solid #0077ff;
    border-radius: 15px;
    justify-self: center;
    font-size: 18px;
    box-shadow: var(--box-shadow);
    margin-top: -130px;
    cursor: pointer;
    z-index: 1; 
    overflow: hidden;
    animation: slideTop2 2s ease;
}       
@keyframes slideTop2 {
    0%{
        opacity: 0;
        transform: translateY(100%);
    }
    100%{
        opacity: 1;
        transform: translateY(0%);
    }
}
#container .buttonContact::before {
    position: absolute;
    content: '';
    width: 200px;
    height: 150px;
    background-color: #0077ff;
    border-radius: 50%;
    z-index: -1;
}

#container .buttonContact:before {
    top: 100%;
    left: 100%;
    transition: .3s all;
}

#container .buttonContact:hover:before {
    top: -20px;
    left: -25px;
}
#container .buttonContact a{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.1s;
    padding: 50px 150px;
}

#container .buttonContact a:hover{
    color:white;
}

#container .avatar {
    position: relative;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: end;
}

#container .avatar::before {
    position: absolute;
    width: 70%;
    height: 80%;
    box-shadow: var(--box-shadow);
    content: '';
    bottom: 0;
    z-index: -1;
    border-radius: 30px;
    animation: rightleft 1s ease forwards;
    opacity: 0;
}
@keyframes rightleft {
    0%{
        opacity: 0;
        transform: translateX(100px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}

#container .avatar img {
    width: 70%;
    padding-top: 7 0px;
    transition: 1s;
    opacity: 0;
    animation: rightleft 1s ease forwards;
}
@keyframes rightleft {
    0%{
        opacity: 0;
        transform: translateX(100px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}

#target .title {
    text-align: center;
    padding: 30px 0 30px 0;
    font-weight: 700;
    font-size: x-large;
    font-weight: bolder;
}

#target p {
    padding: 0 50px 0 50px;
    text-align: center;
    line-height: 35px;
    font-size: 18px;
    font-weight: 400;
    border-bottom: var(--border);
    padding-bottom: 30px;
}

#skill .title {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: 700;
    font-size: x-large;
    font-weight: bolder;
}

#skill .listskill {
    padding: 30px 40px 30px 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    border-bottom: var(--border);
    font-weight: 500;
    font-size: 18px;
}

#skill .listskill .evaluate {
    width: 100%;
    height: 13px;
    box-shadow: var(--box-shadow);
    border-radius: 50px;
    margin-top: 5px;
    position: relative;
}

#skill .listskill .evaluate::before {
    position: absolute;
    height: 100%;
    width: var(--point);
    content: '';
    background-image: var(--gradient-bg);
    border-radius: 10px;
}

#project .title {
    text-align: center;
    padding: 30px 0 30px 0;
    font-weight: 700;
    font-size: x-large;
    font-weight: bolder;
}

#project .listproject {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    border-bottom: var(--border);
    padding-bottom: 30px;
    position: relative;
}

#project .listproject .item {
    text-align: center;
    box-shadow: var(--box-shadow);
    padding: 50px;
    border-radius: 10px;
    font-weight: bold;
    font-size: large;
}

#project .listproject .item img {
    width: 70%;
    height: 300px;
    border-radius: 20px;
    transition: 0.3s;
}

#project .listproject .item img:hover {
    transform: scale(1.1);
}

#project .listproject .item .name {
    font-weight: bold;
    padding-top: 35px;
}

#certificate .title {
    text-align: center;
    padding: 30px 0 30px 0;
    font-weight: 700;
    font-size: x-large;
    font-weight: bolder;
}
#certificate .img{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    padding: 0 40px 30px 40px;
    border-bottom: var(--border);
}
#certificate .img img{
    width: 100%;
}

#contact {
    padding-bottom: 20px;
}
#contact .info{
    display: flex;
    justify-content: center;
    margin: 20px 0 0 90px;
}

#contact .title {
    text-align: center;
    padding: 30px 0 30px 0;
    font-weight: 700;
    font-size: x-large;
    font-weight: bolder;
}

#contact .icon{
    padding: 0 30px;
}

#contact .icon i {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

#contact .icon span {
    font-weight: bold;
    padding: 0 0 20px 0;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    cursor: pointer;
}

/* khai bao responsive */
/* desktop and laptop */
@media screen and (max-width:1024px) {
    #header input,
    #header .nav,
    #header ul label {
        display: none;
    }

    #header {
        margin-top: -2px;
    }

    #target p {
        padding: 0 40px 30px 40px;
        text-align: justify;
    }

    #container {
        padding-bottom: 50px;
    }

    #container .content {
        padding-top: 100px;
    }

    #container .content p {
        font-size: 1.5em;
    }

    #container .content h1 {
        font-size: 1.8em;
        line-height: 45px;
    }

    #container .avatar {
        position: relative;
        text-align: center;
        justify-content: center;
        display: flex;
        align-items: end;
    }

    #container .avatar::before {
        position: absolute;
        width: 80%;
        height: 80%;
        box-shadow: var(--box-shadow);
        content: '';
        bottom: 0;
        z-index: -1;
        border-radius: 30px;
    }

    #container .avatar img {
        width: 90%;
        transition: 1s;
    }

    #container .avatar img:hover {
        transform: scale(1.05);
        transform-origin: bottom;
    }
    #project .listproject {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        padding-top: 10px;
    }
    #project .listproject .item img{
        width: 100%;
        height: 200px;
    }

    #contact .info{
        margin: 0;
    }
}



/* mobile */
@media screen and (max-width:768px) {
    #header input {
        display: none;
    }

    #header .logo img {
        margin: 0;
    }

    #header .nav {
        display: flex;
        justify-content: end;
        width: 50px;
        height: 50px;
        position: absolute;
        right: 10px;
        top: 12px;
    }

    #header .nav label {
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--color-text);
        box-shadow: var(--box-shadow);
        border-radius: 50%;
    }

    #header .navDiv {
        position: fixed;
        background-color: #ecf0f1;
        width: 0;
        opacity: 1;
        height: 100vh;
        z-index: 1;
        top: 0;
        right: 0;
        display: grid;
        overflow-x: hidden;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(7, 70px);
        transition: 0.5s;
    }

    #header .navDiv li {
        font-size: 17px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
    }
    #header .navDiv li a{
        display: block;
    }

    /* input#menu:checked~.navDiv {
        transform: translateX(0%);
    } */

    #header .navDiv label {
        width: 50px;
        height: 50px;
        box-shadow: var(--box-shadow);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        color: red;
        margin-left: auto;
        margin-right: 10px;
    }


    #container {
        grid-template-columns: 1fr;
        padding: 0;
    }

    #container .content p {
        font-size: 17px;
        font-weight: 400;
        line-height: 10px;
    }

    #container .content h1 {
        line-height: 40px;
        font-size: 23px;
    }

    #container .content h1 span{
        font-size: 23px;
    }    

    #container .buttonContact{
        margin-top: 40px;
        margin-bottom: 30px;
    }
    #container .avatar img {
        width: 75%;
        margin-top: 20px
    }

    #container .avatar::before {
        position: absolute;
        width: 80%;
        height: 75%;
    }

    #project .listproject {
        grid-template-columns: 1fr;
    }
    #project .listproject .item img{
        width: 100%;
        height: 200px;
    }

    #skill .listskill {
        grid-template-columns: 1fr;
        padding: 0 25px 30px 25px;
    }

    #target p {
        padding: 0 25px 30px 25px;
        text-align: justify;
        line-height: 30px;
    }

    #target .title {
        padding-bottom: 40px;
    }
    
    #certificate .img{
        grid-template-columns: 1fr;
    }

    #contact .info{
        display: block;
        margin-left: 0;
    }
    #contact .info .icon{
        padding: 6px 0;
    }
}

